BOT_TOKEN=**********:*****************************
DROM_SOURCES=https://news.drom.ru/honda/
IXBT_SOURCES=https://www.ixb-t.honda.com,https://www.ixb-t.acura.com
MOTOR_HONDA_SOURCE=https://motor.ru/api/bebop/v2/search?query=Honda&offset=0&limit=15&include=image,rubric
MOTOR_ACURA_SOURCE=https://motor.ru/api/bebop/v2/search?query=Acura&offset=0&limit=15&include=image,rubric
TEXT_API_KEY=*******************
MAX_NEWS_PER_SOURCE=5